.title {
  color: blue;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.map-container {
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.map-container>div>div {
  margin: 0 auto;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
     -moz-box-shadow: 0 0 15px rgba(0,0,0,.3);
          box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.marker-container {
  display: flex;
}

.marker-container svg {
  color: #ff0000;
  width: 1.5em !important;
  height: 2em !important;
}

.marker {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 3px;
  font-size: 1.5em;
  font-weight: 700;
  color: #ffffff;
}

.error-message {
  color: var(--danger);
  font-weight: 500;
}
